@model Fttx_Orm.Models.fiber.BaglantiAdres

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bağlantı Adres Düzenle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BaglantiAdresId)

        <div class="form-group" style="height:40px">
            @Html.LabelFor(model => model.BaglantiId, "BaglantiId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("BaglantiId", null, htmlAttributes: new { @class = "form-control" })*@
                <link rel="stylesheet" href="~/Content/dropdown.css" />
                <script src="~/Scripts/dropdown.js" type="text/javascript"></script>

                <div tabindex="0" class="Jdropdown" style="z-index:4">
                    <div class="dropdown-a"></div>
                    @if (Model.BaglantiId.ToString() == null)
                    {
                        <span>-- Seçiniz ! -- </span>
                    }
                    else
                    {
                        <span>@Model.Baglanti.BaglantiAdi.ToString()</span>
                    }
                    <input id="BaglantiId" name="BaglantiId" type="hidden" value="@Model.BaglantiId.ToString()" />
                    <input type="text" placeholder="Ara" /><i class="fa fa-search"></i>
                    <div class="options">

                        <ul>
                            <li id="">-- Seçiniz ! --</li>
                            @foreach (var item in ViewBag.BaglantiId)
                            {
                                <li id="@item.Value" onclick="gonder(@item.Value)">@item.Text</li>
                            }

                        </ul>
                        <script>
                            function gonder(id) {
                                document.getElementById('BaglantiId').value = id;
                            }

                        </script>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.BaglantiId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KoordinatN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KoordinatN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KoordinatN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KoordinatS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KoordinatS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KoordinatS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" onclick="javascript: $(this).hide(); $('#h').css('display', 'block')" />
                <span id="h" style="display:none; color:#666666"><i class="fa fa-refresh fa-spin"></i> &nbsp;<b>İşlem Yapılıyor ...</b></span>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<< Geri dön", "Index")
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
