@model IEnumerable<Fttx_Orm.Models.Msan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Msan</h2>

<p>
    @Html.ActionLink("Msan Oluştur", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cihaz.CihazName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsanIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cihaz.CihazName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsanIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MsanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MsanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MsanId })
        </td>
    </tr>
}

</table>*@

<div class="loading">
    <i class="fa fa-refresh fa-spin"></i>
    Veriler Yükleniyor...
</div>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/dataTable.css" rel="stylesheet" />

<table id="data" class="display" style="display:none" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cihaz.CihazName)</th>
            <th>@Html.DisplayNameFor(model => model.MsanAdi)</th>
            <th>@Html.DisplayNameFor(model => model.MsanIp)</th>
            <th>@Html.DisplayNameFor(model => model.Durum)</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cihaz.CihazName)</th>
            <th>@Html.DisplayNameFor(model => model.MsanAdi)</th>
            <th>@Html.DisplayNameFor(model => model.MsanIp)</th>
            <th>@Html.DisplayNameFor(model => model.Durum)</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Cihaz.CihazName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MsanAdi)</td>
                    <td>@Html.DisplayFor(modelItem => item.MsanIp)</td>
                    <td>@Html.DisplayFor(modelItem => item.Durum)</td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.MsanId }) |
                        @Html.ActionLink("Detay", "Details", new { id = item.MsanId }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.MsanId })
                    </td>    
                </tr>
            }
    </tbody>
</table>

<script src="~/Scripts/vhs_font.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/dataTables.jqueryui.min.js"></script>
<script>
    $(document).ready(function () {
        $('#data').show();
        $(".loading").hide();
        $('#data').DataTable({
            "columnDefs": [{
                "targets": [4],
                "searchable": false,
                "orderable": false,


            }],

            scrollY: 500,
            scrollCollapse: true,
            "pageLength": 25,

            dom: 'Bfrtip',
            "buttons": [
                {
                    extend: 'copy',
                    footer: false,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },

                {
                    extend: 'csv',
                    footer: false,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },

                {
                    extend: 'excel',
                    footer: false,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },

                {
                    extend: 'pdf',
                    footer: false,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },

                {
                    extend: 'print',
                    footer: false,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }

            ],

            "oLanguage": {
                "sSearch": "Bul"
            }


        }).column(0).search();

    });


</script>
