@model Fttx_Orm.Models.DepoStok

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Depo Stok Detay</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CihazId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CihazId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.DepoStokId }) |
    @Html.ActionLink("<< Geri dön", "Index")
</p>
