@model Fttx_Orm.Models.Process.IsTur

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İş Tür Detay</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.IsTurId }) |
    @Html.ActionLink("<< Geri dön", "Index")
</p>
