@model Fttx_Orm.Models.Process.SurecHareket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Süreç Hareket Sil</h2>

<h3>Bu süreç hareketi silmek istediğnize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GelisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GelisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GidisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GidisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("<< Geri dön", "Index")
        </div>
    }
</div>
