@model Fttx_Orm.Models.Process.SurecHareket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Süreç Hareket Detay</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GelisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GelisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GidisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GidisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.SurecHareketId }) |
    @Html.ActionLink("<< Geri dön", "Index")
</p>
