@model IEnumerable<Fttx_Orm.Models.Process.SurecHareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GelisTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GidisTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GelisTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GidisTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurecHareketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurecHareketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurecHareketId })
        </td>
    </tr>
}

</table>
