@model IEnumerable<Fttx_Orm.Models.Process.IsPlanTarih>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaslangicTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BitisTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurecId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaslangicTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BitisTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurecId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IsPlanTarihId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IsPlanTarihId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IsPlanTarihId })
        </td>
    </tr>
}

</table>
